doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/stylesheets?foo.css&bar.css&baz.css')
  body
    block content
    //#include virtual="/n/common/default/foot.html"
    script(src='/javascripts/jquery.js')
    script(src='/javascripts?foo.js&bar.js&baz.js')
